// reset 样式可以写在这里
/* #ifndef APP-PLUS-NVUE */
view,cover-view{
	box-sizing: border-box;
	word-break: break-all;
}

page{
	font-size: 28rpx;
	color: $color-text;
}
/* #endif */

// checkbox radio 默认跟随主题色

/* #ifdef MP-WEIXIN */
	/* 未选中的 背景样式 */
	checkbox .wx-checkbox-input{ width: 40rpx; height: 40rpx;}
	/* 选中后的 背景样式 */
	checkbox .wx-checkbox-input.wx-checkbox-input-checked{ background-color: $color-primary; border-color: $color-primary; }
	/* 选中后的 对勾样式 */
	checkbox .wx-checkbox-input.wx-checkbox-input-checked::before{ font-size:36rpx; color:#fff; }
	
	/* 未选中的 背景样式 */
	radio .wx-radio-input{ width: 40rpx; height: 40rpx;}
	/* 选中后的 背景样式 */
	radio .wx-radio-input.wx-radio-input-checked{ background-color: $color-primary; border-color: $color-primary; }
	/* 选中后的 对勾样式 */
	radio .wx-radio-input.wx-radio-input-checked::before{ font-size:36rpx; color:#fff; }
/* #endif */

/*checkbox 选项框大小  */
.uni-checkbox-input{ width: 40rpx !important; height: 40rpx !important; }
/*checkbox选中后样式  */
.uni-checkbox-input-checked{ background-color: $color-primary !important; border-color:$color-primary !important; }
/*checkbox选中后图标样式  */
.uni-checkbox-input-checked::before{
	font-size: 36rpx !important;
	color: #fff !important;
}
/*radio 选项框大小  */
.uni-radio-input{ width: 40rpx !important; height: 40rpx !important; }
/*radio选中后样式  */
.uni-radio-input-checked{ background-color: $color-primary !important; border-color:$color-primary !important; }
/*radio选中后图标样式  */
.uni-radio-input-checked::before{
	font-size: 36rpx !important;
	color: #fff !important;
}