// flex 布局相关
/* #ifndef APP-PLUS-NVUE */
.flex-none {
  //不自动缩放
  flex: none;
}
.flex-auto {
  flex: auto;
}
.flex-self-stretch {
  //项缩放占满交叉轴空间
  align-self: stretch;
}
/* #endif */
.flex-1 {
  flex: 1;
}
.flex-2{
  flex: 2;
}
.flex-3{
  flex: 3;
}
.flex-wrap {
  //设置换行
  flex-wrap: wrap!important;
}
.flex-nowrap{
	flex-wrap: nowrap!important;
}
.flex-column {
  //修改主轴方向为垂直方向
  flex-direction: column!important;
}

// .row col-1 col-2 ... col-24 , 栅格布局，等分24份, nvue 不支持宽度百分比
.flex{
	/* #ifndef APP-PLUS-NVUE */
	display: flex;
	width: 100%;
	/* #endif */
	/* #ifdef APP-PLUS-NVUE */
	width: 750rpx;
	/* #endif */
	flex-wrap: wrap;  // 默认换行
	flex-direction: row;
}
/* #ifndef APP-PLUS-NVUE */
// 间距
.row-gutter-15{
	// > [class*=col-]{ // 该写法不兼容小程序
	// 	padding: 0 15rpx;
	// }
	@for $value from 1 through 24 {
		.col-#{$value}{
			padding: 0 15rpx;
		}
	}
}
.row-gutter-30{
	@for $value from 1 through 24 {
		.col-#{$value}{
			padding: 0 30rpx;
		}
	}
}

/* #endif */
.flex-center{
	justify-content: center;
	align-items: center;
}
// 主轴对齐方式（水平）
.flex-main-start{
	justify-content: flex-start; // 左对齐
}
.flex-main-end{
	justify-content: flex-end;	// 右对齐
}
.flex-main-center{
	justify-content: center; // 居中对齐
}
.flex-main-between{
	justify-content: space-between; // 两端对齐
}
// 交叉轴对齐方式（纵向）
.flex-cross-start{
	align-items: flex-start;  //上对齐
}
.flex-cross-center{
	align-items: center; //中
}
.flex-cross-end{
	align-items: flex-end; // 下对齐
}
// 高度铺满
.flex-cross-stretch{
	align-items: stretch;
}
@for $value from 1 through 24 { // col-1 col-2 ... col-24
	.col-#{$value}{
		/* #ifdef APP-PLUS-NVUE */
		width: 750rpx/24*$value;
		/* #endif */
		/* #ifndef APP-PLUS-NVUE */
		width: $value/24*100%;
		/* #endif */
	}
	.offset-#{$value}{ // offset-1 offset-2 ... offset-24
		/* #ifdef APP-PLUS-NVUE */
		margin-left:750rpx/24*$value;
		/* #endif */
		/* #ifndef APP-PLUS-NVUE */
		margin-left: $value/24*100%;
		/* #endif */
	}
	
}
	