// 生成 fs-12 ，fs-14 ... fs-36
$font-size:12;
@while $font-size <= 36 {
	.fs-#{$font-size} {
		font-size: #{$font-size}rpx;
	}
	$font-size: $font-size + 2;
}

// 生成单边距 10 - 30，5递增，left-10，left-15... 
$spacing:10;
@while $spacing <= 30 {
	.left-#{$spacing} {
		margin-left: #{$spacing}rpx;
	}
	.right-#{$spacing} {
		margin-right: #{$spacing}rpx;
	}
	.top-#{$spacing} {
		margin-top: #{$spacing}rpx;
	}
	.bottom-#{$spacing} {
		margin-bottom: #{$spacing}rpx;
	}
	$spacing: $spacing + 5;
}

// 生成双边或全边内外边距
$space-between:10;
@while $space-between <= 30 {
	// 两边内外边距，10-30 10递增 margin-beside-10 margin-beside-20 ...
	.margin-beside-#{$space-between} {
		margin: 0 #{$space-between}rpx;
	}
	.padding-beside-#{$space-between} {
		padding: 0 #{$space-between}rpx;
	}
	// 内外全边距10-30，10递增 padding-10 padding-20
	.padding-#{$space-between} {
		padding: #{$space-between}rpx;
	}
	.margin-#{$space-between} {
		margin: #{$space-between}rpx;
	}
	$space-between: $space-between + 10;
}

// 文本及背景通用色
$color-map:(
	white:#ffffff,
	black:#000000,
	success:$color-sucess,
	warning:$color-warning,
	primary:$color-primary,
	danger:$color-danger,
);
// 生成map里所有前景色及背景色，如 color-white和bg-white
@each $key, $value in $color-map {
	.color-#{$key}{
		color: $value;
	}
	.bg-#{$key}{
		background-color: $value;
	}
}

// 文本色
// 黑
.color-title{
  color: $color-title;
}
// 文本色
.color-text{
	color: $color-text;
}
// 副文本
.color-text-sub{
	color: $color-text-sub;
}
// 次级文本
.color-text-secondary{
	color: $color-text-secondary;
}
// 文本灰
.color-gray{
	color: $color-text-gary;
}
.color-link{
	color: $color-link;
}
// 背景色拓展
// 背景灰
.bg-gray{
  background: $color-background;
}

// 生成 line-top line-bottom等1rpx细线
$position-list: top,bottom,right,left;
@each $pos in $position-list {
	.line-#{$pos}{
		@include border-1px($pos)
	}
}

// 角标
.badge{
	display: inline-block;
	&.badge-mini{
		padding: 6rpx 20rpx;
		font-size: 20rpx;
	}
	&.badge-defalut{
		color: #656565;
		background: #F9F9F9;
	}
}

// 布局相关
$color-map:(
	white:#ffffff,
	black:#000000,
	success:$color-sucess,
	warning:$color-warning,
	primary:$color-primary,
	danger:$color-danger,
);
