.txt-right {
  text-align: right;
}
.txt-center{
	text-align: center;
}
// 斜体
.txt-italic{
	font-style: italic;
}
// 加粗
.txt-bold {
  font-weight: bold;
}
// 删除线
.txt-delete{
	text-decoration:line-through;
}

/* #ifndef APP-PLUS-NVUE */
// 多行省略（不要设padding，用margin代替，padding会导致溢出部分可见）
.txt-ellipsis{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
	text-overflow:ellipsis;
	&.txt-row-1{
		// white-space: nowrap;
		-webkit-line-clamp: 1;
	}
	&.txt-row-2{
		word-break: break-all;
		-webkit-line-clamp: 2;
	}
	&.txt-row-3{
		word-break: break-all;
		-webkit-line-clamp: 3;
	}
}
// 严格换行，英文长单词会被截断
.txt-wrap{
	word-wrap: break-word;
	word-break: break-all;
}
/* #endif */

/* #ifdef APP-PLUS-NVUE */
	.txt-ellipsis{
		text-overflow:ellipsis;
		lines:1;
	}
	.txt-row-2{
		lines:2;
	}
	.txt-row-3{
		lines:3;
	}
/* #endif */