.txt-right {
  text-align: right;
}
.txt-center{
	text-align: center;
}
// 斜体
.txt-italic{
	font-style: italic;
}
// 加粗
.txt-bold {
  font-weight: bold;
}
// 删除线
.txt-delete{
	text-decoration:line-through;
}